{% extends "layout.html" %}

{% block script %} 
    <script defer src="../static/buy.js"></script>
{% endblock %}

{% block title %}
    Buy
{% endblock %}

{% block main %}

    {% if message %}
        <p>{{ message }}</p>
    {% else %}
        <section class="container">
            <form action="/buy" method="POST">
                <label for="stock">
                    Stock symbol:
                    <input type="text" name="stock" id="stock" placeholder="AAPL...">
                </label>
                <label for="shares">
                    Number of shares:
                    <input type="number" name="shares" id="shares" placeholder="1">
                </label>
                <input class="btn btn-primary" type="submit" value="Buy Stock">
            </form>
        </section>
        <p class="text-danger" id="warning"></p>
    {% endif %}

{% endblock %}
