{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <section class="secton">
        <table class="table">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>Transacted</th>
                </tr>
            </thead>
            <tbody>
                {% for stuff in data %}
                <tr>
                    <td>{{ stuff.stock }}</td>
                    <td>{{ stuff.shares }}</td>
                    <td>{{ stuff.price | usd }}</td>
                    <td>{{ stuff.date }}</td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </section>
{% endblock %}
