{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <section class="secton">
        <table class="table">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>TOTAL</th>
                </tr>
            </thead>
            <tbody>
                {% for stuff in data %}
                <tr>
                    <td>{{ stuff.symbol }}</td>
                    <td>{{ stuff.name }}</td>
                    <td>{{ stuff.shares }}</td>
                    <td>{{ stuff.price | usd }}</td>
                    <td>{{ stuff.total | usd }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><strong>{{ total_cash | usd }}</strong></td>
                </tr>
            </tbody>
        </table>
    </section>
{% endblock %}
