{% extends "layout.html" %}

{% block script %}
    <script defer src="../static/quote.js"></script>
{% endblock %}

{% block title %}
    Quote
{% endblock %}

{% block main %}

    <section class="container">
        <form action="/withdrawn" method="POST">
            <label for="money">
                Money to withdrawn:
                <input type="number" name="money" id="money" placeholder="10000">
            </label>
            <input class="btn btn-primary" type="submit" value="Withdrawn money">
        </form>
        <p class="text-danger" id="warning"></p>
    </section>

{% endblock %}
